body{
    background-color: hsl(105, 48%, 64%);
    height:100vh;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin:0px;
    
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 6rem;
}
img{
    max-width: 100%;
    display: block;
    overflow-clip-margin: content-box;
}
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: auto;
	text-align: center;
	margin:0px;
}
.trophy {
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
}
.Message {
	text-align: center;
	padding-top: 1rem;
}
.Message h1 {
	font-size: 6rem;
    margin:0px;
}
.Message h2 {
	font-size: 2rem;
    margin:0px;
}
@media screen and (max-width: 600px) {
	.Message h1 {
		font-size: 3rem;
	}
	.Message h2 {
		font-size: 1rem;
	}
}
.button {
	color: #6b6b6b;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border: 2px solid white;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
}

.button a {
	text-decoration: none;
	color: #6b6b6b;
}

/*................rules css..................
.rules-page{
    display:flex;
    flex-direction: column;
    background-color:  hsl(120, 100%, 25%);
    box-sizing: border-box;
    transform-origin: bottom;
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    width:18rem;
    padding: 0.5rem 1rem;
    border: 0.5rem solid white;
    border-radius: 20px;
    
    transition: transform 0.2s;
    color:white;
    display:none;


}
.open{
    display: block;
}
.rules-page h1{
    text-align: center;
    justify-content: center;
    margin:0;
    padding:0;
    box-sizing:border-box;

    display:flex;
    
    font-size: 2rem;
    
    font-weight: bold;
}
.ExitPage{
    position: absolute;
    top: -1.8rem;
    right:-1.8rem;
    width:3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 0.3rem solid white;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.nextbtn{
    border: 3px solid white;
    color: white;
    cursor:pointer;
    border-radius: 8px;
    padding: 0.4rem 1rem;

}
/*.nextbtn{
    display:none
}
.nextbtn a{
    text-decoration: none;
    color: white;
}*/

